#back{

    width:9%;
    align-content: center;
    margin-top: 02%;
   
}
#supplier{

    align-content: center;
    padding-left: 15%;
}
#s1{

    width:73.4%;
}
#h4-supplier{

    margin-left: 25%;
}
#btn-supplier{

    margin-left: 42%;
    width: 20%;
}