.card {
    border: 0px !important;

}
.card-body {
    height: 535px !important;
}
#smalltable{

  height: 4px !important;
}
// .card.pr-3{
//   height: 4px !important;
//   height: 4px ;

// }

#btn-report{


  width: 6%;
margin-left:94%;
margin-bottom:1.7%;
}
canvas{

  //width:1000px !important;
  height:500px !important;

}
