.card {
  border: 0px solid;
}
#btn-report{


    width: 8%;
  margin-left:92%;
  margin-bottom:1.7%;
}
h2.heading {

  margin-top:-3% !important;
  margin-bottom:-21px !important;

}
#btn-view{

  //margin-right: 80% !important;
  //margin-left: -9% !important;
}
canvas{

  //width:1000px !important;
  height:630px !important;

}
