#s-o{

    width: 73.8%;
}
#supplier-order
{

    align-content: center;
    padding-left: 15%;
}
#btn-s-o{

    margin-left: 39%;
    width:16%;
    padding-left:3%;
}
#h4-s-o{

    margin-left: 23%;
}
