<div class="col-x1" id="supplier-order">
  <h3 class="  text-info" id="h4-s-o"><strong>Update Accessories Detail</strong></h3>

  <div  class="card">
      <div  class="" >
        <div class="">
          <div class="card-body">

          <div class="form-row" *ngIf="header_details">

            <div class="col ">
              <label><b>Unit</b></label>
              <ng-select [items]="units" for="unit" name="unit"
              bindLabel="name" placeholder="Select unit" bindValue="id" [(ngModel)]="header_details.unit_id"
              [ngModelOptions]="{standalone: true}" required>
            </ng-select>
            </div>

            <div class="col">
              <label><b>Shift</b></label>
              <ng-select [items]="shifts" for="shift" name="shift"
              bindLabel="name" placeholder="Select Shift" bindValue="name" [(ngModel)]="header_details.shift"
              [ngModelOptions]="{standalone: true}" required>
            </ng-select>
            </div>

            <div class="col">
                <label><b>Type</b></label>
                    <select name="grade" [(ngModel)]="header_details.type"  required class="form-control input-lg">
                      <option [ngValue]="null" disabled [selected]="true">Select type...</option>
                      <option value="Internal">Internal</option>
                      <option value="External">External</option>
                    </select>
              </div>

            <div class="col  ">
              <label><b>Line</b></label>
              <ng-select [items]="lines" for="line_no" name="line_no"
              bindLabel="name" placeholder="Select line no." bindValue="name" [(ngModel)]="header_details.line"
              [ngModelOptions]="{standalone: true}" required>
            </ng-select>
            </div>


            <div class="col mt-1">
                <h6 class=""><b>Date</b></h6>
                <ng2-flatpickr [config]="date1" name="date" [setDate]="binding_date" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" required
                  placeholder="Click to select Left Date..."></ng2-flatpickr>
            </div>

            <div class="col mb-2" >
                <label ><b>User</b></label>
                 <input type="text"  class="form-control "  aria-describedby="quantityHelp" placeholder="user name" [(ngModel)]="user_name" readonly required>
            </div>

          </div>

        </div>
      </div>
        </div>
  </div>
  <div id="header_save_btn">
  <button type="button" (click)="CheckSaveGenericHeader()" class="btn w-13 m-3 btn-primary btn-sm">Save</button>
</div>
  <br>

  <div class="card" *ngIf="accessories_detail">
    <div class="card-body bg-light">
      <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #f2="ngForm" novalidate> -->
      <form >

        <div class="form-group  pl-5 pr-5 showDetails">
          <label><b>Wash Type</b></label>
          <div class="row">
            <div class="col-sm-12">
              <select name="grade" [(ngModel)]="accessories_detail.type" (change)="GetAccessories()"   required class="form-control input-lg">
                <!-- <option [ngValue]="null" disabled [selected]="true">Select wash type...</option> -->
                <option value="Before">Before wash</option>
                <option value="After">After wash</option>
              </select>
            </div>
          </div>
        </div>
        <br>


            <div class="form-group  pl-5 pr-5 showDetails">
                <label><b>Supplier</b></label>
                <div class="row">
                  <div class="col-sm-12">
                    <ng-select [items]="suppliers" bindLabel="name" [ngModelOptions]="{standalone: true}"  placeholder="Select supplier"
                      bindValue="id" [(ngModel)]="accessories_detail.supplier_id"  required>
                    </ng-select>

                  </div>
                </div>
              </div>
              <br>

          <!-- <div class=" form-group col-sm pl-5 pr-5 rounded-border">
              <h6 class="mt-4 mt-sm-0"><b>Date</b></h6>
              <ng2-flatpickr [config]="date1" name="date" [(ngModel)]="date" required
                placeholder="Click to select Left Date..."></ng2-flatpickr>
            </div>
            <br> -->



        <div class="form-group  pl-5 pr-5 showDetails">
            <label><b>Nomination / Local</b></label>
            <div class="row">
              <div class="col-sm-12">
                <select name="grade" [(ngModel)]="accessories_detail.local_nomination" [ngModelOptions]="{standalone: true}"   required class="form-control input-lg"
                  id="grade">
                  <option [ngValue]="null" disabled [selected]="true">Select type...</option>
                  <option value="Nomination">Nomination</option>
                  <option value="local">Local</option>
                </select>
              </div>
            </div>
          </div>
          <br>

          <div class="form-group  pl-5 pr-5 showDetails">
              <label><b>Orders #</b></label>
              <div class="row">
                <div class="col-sm-12">

                  <ng-select [items]="supp_orders" bindLabel="order_no" [ngModelOptions]="{standalone: true}"  placeholder="Select Order"
                    bindValue="id" [(ngModel)]="accessories_detail.order_id" required>
                  </ng-select>

                </div>
              </div>
            </div>
            <br>

            <!-- <div class="form-group  pl-5 pr-5 " >
                <label ><b>Customer</b></label>
                <ng-select  [items]="customers"  [searchable]="true" bindLabel="customer" formControlName="customer_id" [ngClass]="{ 'is-invalid': submitted && f.customer_id.errors }"
                placeholder="Select Customer" bindValue="id"  [(ngModel)]="customer_id" required   >
                </ng-select>
             </div>

            <br> -->

          <div class="form-group  pl-5 pr-5 " >
              <label ><b>Item Name</b></label>
              <ng-select  [items]="accessories"  bindLabel="name"
              placeholder="Select items" bindValue="id" [ngModelOptions]="{standalone: true}"  [(ngModel)]="accessories_detail.accessory_id" required   >
              </ng-select>
           </div>
          <br>


          <div class="form-group  pl-5 pr-5 " >
              <label ><b>Quantity</b></label>
               <input type="number"  class="form-control rounded-border" [ngModelOptions]="{standalone: true}"  aria-describedby="quantityHelp" placeholder="Enter quantity .." [(ngModel)]="accessories_detail.quantity" required>
          </div>
          <br>

          <div class="form-group  pl-5 pr-5 showDetails">
              <label><b>UOM</b></label>
              <div class="row">
                <div class="col-sm-12">
                  <select name="grade" [(ngModel)]="accessories_detail.uom" [ngModelOptions]="{standalone: true}" required class="form-control input-lg"
                    id="grade">
                    <option [ngValue]="null" disabled [selected]="true">Select unit of mass...</option>
                    <option value="pcs">pcs</option>
                    <option value="meters">meters</option>
                  </select>
                </div>
              </div>
            </div>
            <br>


          <div class="form-group  pl-5 pr-5 " >
              <label ><b>Remarks</b></label>
               <input type="text"  class="form-control rounded-border" [ngModelOptions]="{standalone: true}" aria-describedby="quantityHelp" placeholder="Enter remarks .." [(ngModel)]="accessories_detail.remarks" required>
          </div>
          <br>
        <br>
        <button id="btn-s-o" type="submit" class="btn btn-primary btn-block px-3"
          (click)="UpdateAccessoryDetail()" placeholder="ADD">Update    |    اپ ڈیٹ</button>

      </form>
    </div>
  </div>


<div class="my-container">
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
            <h4 style="color: gray">
                Loading...
            </h4>
            <!-- <button (click)="showAlert()">
                Click me!
            </button> -->
        </div>
    </ng-template>

    <ngx-loading [show]="loading" [config]="{  backdropBorderRadius: '3px'}" [template]="customLoadingTemplate"></ngx-loading>
  </div>
