#user{
   align-content: center;
    padding-left: 15%;

}
#u1{
    width:73.4%;
}

#btn-user{

   
    margin-left: 38%;
    width: 21%;
}
#brs-user{

    margin-left: 06%;
    margin-right: 6%;
    width:94%;

}
#h4-user{

margin-left: 25%;

}
#photo{

    margin-left: 06%;
   
}
#date{
    border-top-right-radius: 50px 20px; 
}