<div class="col-x1" id="supplier-order">
  <h3 class=" mt-xl-0 text-info" id="h4-s-o"><strong>Update Packing</strong></h3>

  <div  class="card" >
    <div  class="" >
      <div class="">
        <div class="card-body">


          <div class="form-row" *ngIf="header_details">

            <div class="col ">
              <label><b>Unit</b></label>
              <ng-select [items]="units" for="unit" name="unit"
              bindLabel="name" placeholder="Select unit" bindValue="id" [(ngModel)]="header_details.unit_id"
              [ngModelOptions]="{standalone: true}" required>
            </ng-select>
            </div>

            <div class="col">
              <label><b>Shift</b></label>
              <ng-select [items]="shifts" for="shift" name="shift"
              bindLabel="name" placeholder="Select Shift" bindValue="name" [(ngModel)]="header_details.shift"
              [ngModelOptions]="{standalone: true}" required>
            </ng-select>
            </div>

            <div class="col">
                <label><b>Type</b></label>
                    <select name="grade" [(ngModel)]="header_details.type"  required class="form-control input-lg">
                      <option [ngValue]="null" disabled [selected]="true">Select type...</option>
                      <option value="Internal">Internal</option>
                      <option value="External">External</option>
                    </select>
              </div>

            <div class="col  ">
              <label><b>Line</b></label>
              <ng-select [items]="lines" for="line_no" name="line_no"
              bindLabel="name" placeholder="Select line no." bindValue="name" [(ngModel)]="header_details.line"
              [ngModelOptions]="{standalone: true}" required>
            </ng-select>
            </div>


            <div class="col mt-1">
                <h6 class=""><b>Date</b></h6>
                <ng2-flatpickr [config]="date1" name="date" [setDate]="binding_date" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" required
                  placeholder="Click to select Left Date..."></ng2-flatpickr>
            </div>

            <div class="col mb-2" >
                <label ><b>User</b></label>
                 <input type="text"  class="form-control "  aria-describedby="quantityHelp" placeholder="user name" [(ngModel)]="user_name" readonly required>
            </div>

          </div>

      </div>
    </div>
      </div>
</div>
<div id="header_save_btn">
<button type="button" (click)="CheckSaveGenericHeader()" class="btn w-13 m-3 btn-primary btn-sm">Save</button>
</div>
<br>

  <div class="card"  *ngIf="packing_details">
    <div class="card-body bg-light">
      <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #f2="ngForm" novalidate> -->
      <form >

          <div class="form-group  pl-5 pr-5 showDetails">
              <label><b>Orders #</b></label>
              <div class="row">
                <div class="col-sm-12">
                    <ng-select [items]="supp_orders" bindLabel="order_no"  [ngModelOptions]="{standalone: true}"  placeholder="Select Order"
                    bindValue="id" [(ngModel)]="packing_details.supplier_fabric_order_id" required>
                  </ng-select>

                </div>
              </div>
            </div>

            <br>

          <div class="form-group  pl-5 pr-5 " >
              <label ><b>Total Quantity</b></label>
               <input type="number"  class="form-control rounded-border" [ngModelOptions]="{standalone: true}" aria-describedby="quantityHelp"  placeholder="Enter quantity .." [(ngModel)]="packing_details.quantity" required>

              </div>

          <br>

          <div class="form-group  pl-5 pr-5 " >
              <label ><b>Cartons(To check)</b></label>
               <input type="number"  class="form-control rounded-border" [ngModelOptions]="{standalone: true}" aria-describedby="quantityHelp"  placeholder="Enter remarks .." [(ngModel)]="packing_details.cartons" required>

              </div>
          <br>


        <button id="btn-s-o" type="submit" class="btn btn-primary btn-block px-4"
          (click)="UpdatePacking()" placeholder="ADD">Update    |    اپ ڈیٹ</button>

      </form>
    </div>
  </div>
</div>

<div class="my-container">
  <ng-template #customLoadingTemplate>
      <div class="custom-class">
          <h4 style="color: gray">
              Loading...
          </h4>
          <!-- <button (click)="showAlert()">
              Click me!
          </button> -->
      </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{  backdropBorderRadius: '3px'}" [template]="customLoadingTemplate"></ngx-loading>
</div>
